name: Continuous integration

env:
  VERSION_FEATURES: "v1 v3 v4 v5 v6 v7 v8"
  DEP_FEATURES: "slog serde arbitrary zerocopy"

on:
  pull_request:
  push:
      branches:
      - main
  schedule:
    - cron: '0 0 * * *'

jobs:
  os_tests:
    name: "Tests / OS: ${{ matrix.os }} - ${{ matrix.channel }}-${{ matrix.rust_target }}"
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: "--cfg uuid_unstable"
      RUSTDOCFLAGS: "--cfg uuid_unstable"
    strategy:
      matrix:
        exclude:
        - os: macos-10.15
          rust_target: x86_64-gnu
        - os: macos-10.15
          rust_target: x86_64-msvc
        - os: windows-2019
          rust_target: x86_64-apple-darwin
        - os: ubuntu-20.04
          rust_target: x86_64-msvc
        - os: ubuntu-20.04
          rust_target: x86_64-apple-darwin
        channel:
        - stable
        - beta
        - nightly
        os:
        - macos-10.15
        - ubuntu-20.04
        - windows-2019
        rust_target:
        - x86_64-gnu
        - x86_64-msvc
        - x86_64-apple-darwin

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

    - name: Install Rust Toolchain
      run: rustup update ${{ matrix.channel }}-${{ matrix.rust_target }} && rustup default ${{ matrix.channel }}-${{ matrix.rust_target }}

    - name: Install cargo-hack
      run: cargo install cargo-hack

    - name: Docs
      run: cargo test --all-features --doc

    - name: Examples
      run: cargo test --all-features --examples

    - name: Each version feature
      run: cargo hack test --lib --each-feature

    - name: All features
      run: cargo hack test --lib --all-features

  stable:
    name: "Tests / Stable"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout sources
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

    - name: All features
      run: cargo test --all-features

  msrv:
    name: "Tests / MSRV"
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout sources
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

    - name: Install Rust toolchain
      run: rustup update 1.57.0

    - name: Version features
      run: cargo +1.57.0 test --features "$VERSION_FEATURES"

  wasm:
    name: Tests / WebAssembly
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Install
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Default features
        run: wasm-pack test --node

      - name: Version features
        run: wasm-pack test --node -- --features "$VERION_FEATURES $DEP_FEATURES js"

      - name: Fast RNG
        run: wasm-pack test --node -- --features "js v4 fast-rng"

  mips:
    name: Tests / MIPS (Big Endian)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Install Cross
        run: cargo install cross

      - name: Default features
        run: cross test --target mips-unknown-linux-gnu

  embedded:
    name: Build / Embedded
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Install Rust toolchain
        run: rustup update nightly && rustup target add --toolchain nightly thumbv6m-none-eabi

      - name: No features
        run: cargo +nightly build -Z avoid-dev-deps --target thumbv6m-none-eabi --no-default-features

      - name: Version features
        run: cargo +nightly build -Z avoid-dev-deps --target thumbv6m-none-eabi --no-default-features --features "v1 v3 v5 v6 serde"

  nodeps:
    name: Build / No deps
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "--cfg uuid_unstable"
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Install Rust toolchain
        run: rustup update nightly && rustup default nightly

      - name: Install cargo-hack
        run: cargo install cargo-hack

      - name: Powerset
        run: cargo hack check --each-feature -Z avoid-dev-deps
